fastapi==0.136.1
uvicorn[standard]==0.46.0

SQLAlchemy==2.0.49
pydantic==2.13.3
pydantic-settings==2.14.0

python-dotenv==1.2.2
python-jose[cryptography]==3.5.0

psycopg2-binary==2.9.12

boto3
python-multipart
pdfplumber
